/* CSS Reset */

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: disc;


}

a {
    text-decoration: none;
    color: #111111;
}


/*  My CSS */

body {
    background-color: #f3e5d8;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}


#wrapper {
    margin-top: 2em;
    padding: 1em 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 60%;
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
    border-radius: 20px;
}

.hero-img {
    width: 100%;
    /* max-width: 500px; */
    border-radius: 10px;
}

p {
    font-size: 16px;
    color: hsl(24, 5%, 18%);

}

h1 {
    font-weight: 500;
    color: #302f2d;
    font-family: 'Young Serif', serif;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
    font-family: 'Young Serif', serif;
}

h3 {
    font-weight: bold;
    color: #742d4b;
}

ul li::marker {
    color: #742d4b;
}

ol li,
ul li {
    margin-bottom: 1em;
}

section {
    border-bottom: 2px solid hsla(30, 18%, 87%, 0.5);
    padding: 0.4em;

}

.preparation {
    background-color: #fff7fc;
    padding: 0.5em;
}

section:nth-of-type(1),
section:nth-of-type(4),
section:nth-of-type(5) {
    border-bottom: none;
}


table {
    width: 100%;
    font-size: 0.9rem;

}

table td {
    padding: 0.5em;
    border-bottom: 1px solid hsla(30, 18%, 87%, 0.8);
    padding-bottom: 0.8rem;

}

.qty {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    text-align: right;

}

.attribution {
    font-size: 0.9em;
    text-align: center;
    padding: 25px;
}




/* Media Queries*/

@media (max-width: 700px) {
    body {
        margin: 0;
    }

    #wrapper {
        margin: 0;
        padding: 0;
    }

    #container {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .preparation {
        padding-left: 3em;
    }

    .hero {
        padding: 0;
    }

    .hero h1 {
        padding-left: 1em;
    }

    .hero p {
        padding: 0 2em;
    }

    .hero-img {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    section {
        padding: 1em 2em;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
        line-height: 1.5rem;

    }

    ul li,
    ol li {
        font-size: 14px;
        line-height: 1.3rem;
    }

    .qty {
        padding-left: 0;

    }

    table td {
        padding: 0.3em;

    }
}